
# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

z_scrap/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
# db.sqlite3
# media/

*.log

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations (optional — usually NOT ignored)
# */migrations/*.py
# !*/migrations/__init__.py
