{% extends "base.html" %}{% load static %}{% load bootstrap5 %}
{% block header %}
  <title> Create New Project </title>
{% endblock %}

{% block  content %}
  <div class="container">
    <div class="row d-flex flex-row justify-content-center">
      <!-- <div class="col-2"></div> -->
      <div class="col-md-8 d-flex flex-row justify-content-center">
      <!-- <div class="col-md-6 d-flex flex-direction-row justify-content-center mt-3"> -->
        {% if object %}
          <h1>Update Project</h1>
        {% else %}
          <h1>Create Project </h1>
        {% endif %}
      </div>
    </div>
    <div class="row d-flex flex-row justify-content-center align-items-center">
      <div class="col-md-8  d-flex flex-row justify-content-center">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="mb-3">
            {{field.label}}
            {{field}}
            {{field.errors}}
          </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-success mb-5">Save and Continue</button>
        </form>
      </div>
        <!-- <div class="col-2"></div> -->
    </div>
    
  </div>  <!--container end-->
{% endblock  %}