{% extends "base.html" %}{% load static %}{% load bootstrap5 %}
{% block head %}
  <title> Project List </title>

    <style>
      .links1{ background-color: #2c3e50}
    </style>

  {% endblock %}

{% block  content %}
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 d-flex flex-direction-row justify-content-center mt-3">
        <h1>Project List</h1> 
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 d-flex flex-direction-row justify-content-center mt-3">
        <span class="mx-3 p-1"><a href="{% url 'completed' %}">Completed Projects </a> </span>
        <span class="mx-3 p-1"><a href="{% url 'ongoing' %}"> Ongoing Projects </a> </span>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 d-flex flex-column justify-content-center mt-3">
        <div class="d-flex flex-direction-row justify-content-start ">
          <div class="p-2">ID</div>             
          <div class="col p-2">Project Title</div>
          <div class="col p-2">Post Code</div>
          <div class="col ml-5 p-2">Status</div>
        </div>
        {% for p in projects %}
        <div class="d-flex flex-direction-row justify-content-start mt-2 text-info links1">
          <div class="p-2">{{p.id}}</div> 
          <div class="col">
            <a href="{% url 'projectdetail' p.id %}" class="text-info text-decoration-none">
              <div class="p-2">{{p.name}}</div> 
            </a>
          </div>
          <div class="col p-2"> {{p.post_code}}</div>
          <div class="col ml-5 p-2"> 
            {% if p.completed %} Completed
            {% else %} On Going
            {% endif %} 
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-2"></div>
    </div>


  </div>
{% endblock  %}