{% extends "base.html" %}{% load static %}{% load bootstrap5 %}
{% block header %}
  <title> Delete Room </title>
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center mt-5">
  <div class="text-center p-4 rounded shadow"
       style="background-color: pink; max-width: 400px; width: 100%;">

    <h2 class="mb-3">Delete Room</h2>

    <p class="mb-4">
      Are you sure you want to delete "{{ object }}"?
    </p>

    <form method="post">
      {% csrf_token %}

      <button type="submit" class="btn btn-danger me-2">
        Yes, delete
      </button>

      <a href="{{ object.project.get_absolute_url }}"
         class="btn btn-outline-secondary">
        Cancel
      </a>
    </form>

  </div>
</div>


{% endblock %}


